# YahooのYahoo! Finance APIを利用して株価予測

ライブラリインストール  
!pip install yfinance  
!pip install yahoo-finance-api2

In [2]:
from yahoo_finance_api2 import share
from yahoo_finance_api2.exceptions import YahooFinanceError
import pandas as pd

code = 3323 #ターゲット
S_year = 5
S_day = 1

## 目的変数を作成する

In [3]:
# 目的変数を作成する
def kabuka():
    company_code = str(code) + '.T'
    my_share = share.Share(company_code)
    symbol_data = None

    try:
        symbol_data = my_share.get_historical(share.PERIOD_TYPE_YEAR,
                                              S_year,
                                              share.FREQUENCY_TYPE_DAY,
                                              S_day)
    except YahooFinanceError as e:
        print(e.message)
        sys.exit(1)
    # 株価をデータフレームに入れている
    df_base = pd.DataFrame(symbol_data)
    df_base = pd.DataFrame(symbol_data.values(), index=symbol_data.keys()).T
    df_base.timestamp = pd.to_datetime(df_base.timestamp, unit='ms')
    df_base.index = pd.DatetimeIndex(df_base.timestamp, name='timestamp').tz_localize('UTC').tz_convert('Asia/Tokyo')
    #df_base = df_base.drop(['timestamp', 'open', 'high', 'low', 'volume'], axis=1)
    
    #df_base = df_base.rename(columns={'close':company_code + '対象'})
    #df_base = df_base[:-1] #一番最後の行を削除
    df_base = df_base.reset_index(drop=True)
    
    
    return company_code, df_base

In [4]:
result = kabuka()
print(str(result[0]), result[1].shape)

# データフレームへもどす
df_base = result[1]

df_base.head()

3323.T (1240, 6)

   timestamp  open  high   low  close    volume
0 2016-06-01  66.0  67.0  66.0   67.0  171900.0
1 2016-06-02  67.0  68.0  65.0   66.0  834700.0
2 2016-06-03  66.0  68.0  65.0   68.0  883000.0
3 2016-06-06  66.0  68.0  65.0   66.0  815300.0
4 2016-06-07  67.0  67.0  65.0   66.0  466700.0